

.video-container {
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top:50px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 30px;
}

.video {
  width: 400px;
  height: 300px;
}

h2 {

  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 30px;
  color: rgb(10, 10, 10);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


h3 {
  text-align: center;
}

.cal-container {
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 33%;
  margin: 50px auto 50px; 
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 30px;
}

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
}

input[type="number"], input[type="radio"] {
  display: inline-block;
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0099ff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
}

#result {
  margin-top: 20px; 
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}